<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container" *ngIf="!loading">
  <mat-list *ngIf="data.length > 0; else noData">
    <mat-list-item *ngFor="let country of data">
      <div style="display: flex; align-items: center">
        <h4 mat-line>
          <b>{{ name(country) }}</b>
        </h4>
        <div style="flex: 1"></div>
        <button
          class="desktop"
          mat-button
          color="primary"
          (click)="edit(country)"
        >
          {{ "EDIT" | translate }}
        </button>
        <button
          class="desktop"
          mat-button
          color="error"
          (click)="delete(country)"
        >
          {{ "DELETE" | translate }}
        </button>
        <button
          class="mobile"
          mat-icon-button
          color="primary"
          (click)="edit(country)"
        >
          <mat-icon>create</mat-icon>
        </button>
        <button
          class="mobile"
          mat-icon-button
          color="error"
          (click)="delete(country)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>
<button class="add" mat-fab (click)="add()">
  <mat-icon>add</mat-icon>
</button>

<ng-template #noData>
  {{ "COUNTRIES.NODATA" | translate }}
</ng-template>
