@if (loading) {
  <mat-spinner></mat-spinner>
}
@if (!loading) {
  <div class="container">
    @if (data.length > 0) {
      <mat-list>
        @for (country of data; track country) {
          <mat-list-item>
            <div style="display: flex; align-items: center">
              <h4 mat-line>
                <b>{{ name(country) }}</b>
              </h4>
              <div style="flex: 1"></div>
              <button
                class="desktop"
                mat-button
                color="primary"
                (click)="edit(country)"
                >
                {{ "EDIT" | translate }}
              </button>
              <button
                class="desktop"
                mat-button
                color="error"
                (click)="delete(country)"
                >
                {{ "DELETE" | translate }}
              </button>
              <button
                class="mobile"
                mat-icon-button
                color="primary"
                (click)="edit(country)"
                >
                <mat-icon>create</mat-icon>
              </button>
              <button
                class="mobile"
                mat-icon-button
                color="error"
                (click)="delete(country)"
                >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        }
      </mat-list>
    } @else {
      {{ "COUNTRIES.NODATA" | translate }}
    }
  </div>
}
<button class="add" mat-fab (click)="add()">
  <mat-icon>add</mat-icon>
</button>

