<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container" *ngIf="!loading">
    <mat-list *ngIf="data.length>0;else noData">
        <mat-list-item *ngFor="let country of data">
            <h4 mat-line><b>{{name(country)}}</b></h4>
            <button mat-button color="primary" (click)="edit(country)">{{'EDIT'|translate}}</button>
            <button mat-button color="error" (click)="delete(country)">{{'DELETE'|translate}}</button>
        </mat-list-item>
    </mat-list>
</div>
<button class="add" mat-fab (click)="add()">
  <mat-icon>add</mat-icon>
</button>

<ng-template #noData>
    {{'COUNTRIES.NODATA'|translate}}
</ng-template>