@if (!error) {
  <div
    #box
    class="container"
    style="display: flex; flex-direction: column"
    >
    <div class="defaults-grid desktop">
      <ng-content *ngTemplateOutlet="filterButtons"> </ng-content>
    </div>
    <mat-expansion-panel class="mobile">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "MAPOPTIONS.TITLE" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-content *ngTemplateOutlet="filterButtons"> </ng-content>
    </mat-expansion-panel>
    <div class="map-container" #mapContainer>
      <div
        class="map"
        leaflet
        [leafletOptions]="options"
        [leafletLayers]="layers"
        [leafletLayersControl]="leafletLayersControl"
        [leafletFitBounds]="bounds"
      ></div>
      <div [ngClass]="{ loading: loading(), 'loading-indicator': true }">
        <mat-progress-spinner
          [mode]="loading() === true ? 'indeterminate' : 'determinate'"
          [value]="loading() === true ? null : loading()"
        ></mat-progress-spinner>
      </div>
    </div>
  </div>
}

@if (error) {
  <div>
    {{ "ERROR" | translate }}
  </div>
}

<ng-template #filterButtons>
  @for (option of defaults | keyvalue; track option.key) {
    @if (active() != option.key) {
      <button
        mat-button
        color="primary"
        (click)="setOption(option.value)"
        >
        {{ "MAPOPTIONS." + option.key | uppercase | translate }}
      </button>
    }
    @if (active() == option.key) {
      <button
        mat-stroked-button
        color="primary"
        (click)="setOption(option.value)"
        >
        {{ "MAPOPTIONS." + option.key | uppercase | translate }}
      </button>
    }
  }
  @if (active() !== 'filter') {
    <button
      mat-button
      color="primary"
      (click)="openDialog()"
      >
      {{ "MAP.FILTER" | translate }}
    </button>
  }
  @if (active() === 'filter') {
    <button
      mat-stroked-button
      color="primary"
      (click)="openDialog()"
      >
      {{ "MAP.FILTER" | translate }}
    </button>
  }
  <button
    mat-button
    color="primary"
    id="refresh"
    (click)="refresh()"
    [disabled]="loading"
    >
    <mat-icon>refresh</mat-icon>
  </button>
</ng-template>
