<div class="region-stats-list">
    @for (region of regionStats(); track region.id) {
    <mat-card class="region-card" [class.top-level]="!region.parentRegionId">
        <div class="region-header">
            @if(!!region.flagEmoji){
            <span class="region-flag">{{ region.flagEmoji }}</span>
            }
            <span class="region-name" [title]="region.originalName">{{ name(region) }}</span>
            @if(region.visited){
            <mat-icon color="primary" class="visited-icon">check_circle</mat-icon>
            }
        </div>
        @if(region.totalStations>0){
        <div class="region-progress">
            <mat-progress-bar color="accent" mode="determinate"
                [value]="100 * region.visitedStations / region.totalStations"></mat-progress-bar>
            <div class="station-count">
                {{ region.visitedStations }}/{{ region.totalStations }} stations
            </div>
        </div>
        }
        @if(region.visited && region.children.length>0){
        <div class="region-children">
            <app-region-stats-display [regionStats]="region.children" />
        </div>
        }
    </mat-card>
    }
</div>