OVDB/.vs/
OVDB/bin/
OVDB/obj/
OVDB_database/bin/Debug/netcoreapp3.1/
OVDB_database/obj/
.vs/
OVDB_database/bin/
private_vars.txt
OV_DB/Properties/launchSettings.json
OV_DB/appsettings.Development.json
bin/Debug/net9.0/
**/bin/Debug/net9.0/
TestTimeZones/bin/
