<h3 mat-dialog-title>Aangepaste selectie</h3>
<div mat-dialog-content>
  <mat-accordion>
    <mat-expansion-panel *ngIf="regions">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "FILTER.COUNTRIES" | translate }}
        </mat-panel-title>
        <mat-panel-description class="ellipsis">
          {{ regionsString }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      @for (region of regions; track region.id) {
      <mat-expansion-panel [disabled]="region.subRegions.length === 0">
        <mat-expansion-panel-header>
          <mat-checkbox
            (click)="$event.stopPropagation()"
            [checked]="isCountryChecked(region.id)"
            (change)="setCountry(region.id, $event, region.subRegions)"
            [indeterminate]="anyChecked(region.subRegions)"
          >
            <mat-tooltip-component [textContent]="name(region)">
              {{ region.originalName }}
            </mat-tooltip-component>
          </mat-checkbox>
        </mat-expansion-panel-header>
        <div>
          @if(region.subRegions.length > 0){ @for(subRegion of
          region.subRegions; track subRegion.id) {
          <mat-checkbox
            style="margin-left: 1rem"
            [checked]="
              isCountryChecked(subRegion.id) || isCountryChecked(region.id)
            "
            [disabled]="isCountryChecked(region.id)"
            (change)="setCountry(subRegion.id, $event)"
          >
            <div [matTooltip]="name(subRegion)">
              {{ subRegion.originalName }}
            </div>
          </mat-checkbox>
          } }
        </div>
      </mat-expansion-panel>
      }
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="routeTypes">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "FILTER.TYPES" | translate }}
        </mat-panel-title>
        <mat-panel-description class="ellipsis">
          {{ typesString }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="grid">
        <mat-checkbox
          *ngFor="let type of routeTypes"
          [checked]="isTypeChecked(type.typeId)"
          (change)="setType(type.typeId, $event)"
          >{{ name(type) }}</mat-checkbox
        >
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="routeTypes">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "FILTER.YEARS" | translate }}
        </mat-panel-title>
        <mat-panel-description class="ellipsis">
          {{ yearsString }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="grid">
        <mat-checkbox
          *ngFor="let year of years"
          [checked]="isYearChecked(year)"
          (change)="setYear(year, $event)"
        >
          {{ displayYear(year) }}</mat-checkbox
        >
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="date-selection">
    <div class="info">{{ "FILTER.EXPLAINDATES" | translate }}</div>
    <mat-form-field>
      <mat-label>{{ "FILTER.STARTDATE" | translate }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="from"
        (input)="resetYears()"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "FILTER.ENDDATE" | translate }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker2"
        [(ngModel)]="to"
        (input)="resetYears()"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-checkbox [(ngModel)]="includeLineColours">{{
      "FILTER.INCLUDELINECOLOURS" | translate
    }}</mat-checkbox>
  </div>
  <div>
    <mat-checkbox
      [(ngModel)]="limitToSelectedAreas"
      [disabled]="selectedCountries.length === 0"
      >{{ "FILTER.LIMITTOSELECTEDAREAS" | translate }}</mat-checkbox
    >
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">{{ "CANCEL" | translate }}</button>
  <button mat-button color="primary" (click)="return()">
    {{ "SAVE" | translate }}
  </button>
</div>
