<h3 mat-dialog-title>{{'EDITMULTIPLE.TITLE'|translate}}</h3>
<div mat-dialog-content class="dialog">
  <mat-checkbox [(ngModel)]="updateDate">{{'EDITMULTIPLE.UPDATEDATE'|translate}}</mat-checkbox><br>
  <mat-form-field>
    <mat-label>{{'ROUTEDETAILS.FIRSTDATETIME'|translate}}</mat-label>
    <input [disabled]="!updateDate" matInput [matDatepicker]="firstPicker" [(ngModel)]="firstDateTime">
    <mat-datepicker-toggle matSuffix [for]="firstPicker"></mat-datepicker-toggle>
    <mat-datepicker #firstPicker></mat-datepicker>
  </mat-form-field><br>
  <mat-checkbox [(ngModel)]="updateType">{{'EDITMULTIPLE.UPDATETYPE'|translate}}</mat-checkbox><br>
  <mat-form-field>
    <mat-label>{{'ROUTEDETAILS.TYPE'|translate}}</mat-label>
    <mat-select [(ngModel)]="routeTypeId" required [disabled]="!updateType">
      @for (type of types; track type) {
        <mat-option [value]="type.typeId">
          {{name(type)}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field><br>
  <mat-checkbox [(ngModel)]="updateCountries">{{'EDITMULTIPLE.UPDATECOUNTRIES'|translate}}</mat-checkbox><br>
  @if (updateCountries) {
    <mat-expansion-panel class="countries">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'ROUTEDETAILS.COUNTRIES'|translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{countriesString}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-selection-list #countriesSelection>
        @for (country of countries; track country) {
          <mat-list-option [value]="country.countryId">
            {{name(country)}}
          </mat-list-option>
        }
      </mat-selection-list>
    </mat-expansion-panel>
  }
  <mat-checkbox [(ngModel)]="updateMaps">{{'EDITMULTIPLE.UPDATEMAPS'|translate}}</mat-checkbox><br>
  @if (updateMaps) {
    <mat-expansion-panel class="countries">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'ROUTEDETAILS.MAPS'|translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{mapsString}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-selection-list #mapsSelection>
        @for (map of maps; track map) {
          <mat-list-option [value]="map.mapId">
            {{map.name}}
          </mat-list-option>
        }
      </mat-selection-list>
    </mat-expansion-panel>
  }

  @if (!!error) {
    <div class="error">{{error|json}}</div>
  }

</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">{{'CANCEL'|translate}}</button>
  <button mat-button color="primary" (click)="return()">{{'SAVE'|translate}}</button>
</div>
