@for (region of regions; track region.id) {
<mat-card style="margin-bottom: 1rem">
  <mat-card-header>
    <mat-card-title>{{ region.name }}</mat-card-title>
    <mat-card-subtitle>{{ region.osmRelationId }}</mat-card-subtitle>
    <button mat-button (click)="refreshRoutesForRegion(region.id)">
      <mat-icon [fontIcon]="'refresh'"></mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    @if(progressUpdates[region.id]!=null){
    <mat-chip [class.finished]="progressUpdates[region.id]>=100">
      Progress: {{ progressUpdates[region.id] }}% @if(updateResult[region.id]!=null){
      : {{updateResult[region.id]}}
      }
    </mat-chip><br />
    }
    @for(subregion of region.subRegions; track subregion.id) {
    @if(subregion.subRegions.length>0){
    <mat-card style="margin-bottom: 1rem">
      <mat-card-header>
        <mat-card-title>{{ subregion.name }}</mat-card-title>
        <mat-card-subtitle>{{ subregion.osmRelationId }}</mat-card-subtitle>
        <button mat-button (click)="refreshRoutesForRegion(subregion.id)">
          <mat-icon [fontIcon]="'refresh'"></mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        @if(progressUpdates[subregion.id]!=null){
        <mat-chip [class.finished]="progressUpdates[subregion.id]>=100">
          Progress: {{ progressUpdates[subregion.id] }}% @if(updateResult[subregion.id]!=null){
          : {{updateResult[subregion.id]}}
          }
        </mat-chip><br />
        }
        @for(intermediateRegion of subregion.subRegions; track intermediateRegion.id) {
        {{ intermediateRegion.name }} ({{ intermediateRegion.osmRelationId }}) }
      </mat-card-content>
    </mat-card>
    }@else {
    {{ subregion.name }} ({{ subregion.osmRelationId }})
    }
    }
  </mat-card-content>
</mat-card>
}

<button mat-button (click)="refreshRoutesWithoutRegions()">
  Refresh without regions
</button>

@if(progressUpdates[0]!=null){
<mat-chip [class.finished]="progressUpdates[0]>=100">
  Progress: {{ progressUpdates[0] }}% @if(updateResult[0]!=null){
  : {{updateResult[0]}}
  }
</mat-chip><br />
}
<button class="fab" mat-fab color="primary" (click)="addNewRegion()">
  <mat-icon>add</mat-icon>
</button>