<div class="flex">
  <div class="map-container" #mapContainer>
    @if (mapProvider() === 'leaflet') {
      <div class="map" leaflet [leafletOptions]="options" [leafletLayers]="layers"
        [leafletLayersControl]="leafletLayersControl" [leafletFitBounds]="bounds"></div>
    }
    @if (mapProvider() === 'maplibre') {
      <div class="map" #maplibreContainer></div>
    }
    <div [ngClass]="{ loading: loading, 'loading-indicator': true }">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="side">
    @for(region of progressUpdates | keyvalue; track region.key){
    <mat-chip [class.finished]="region.value>=100">
      {{getNameById(+region.key)}}: {{ region.value }}%
    </mat-chip>

    }


    @if(!selectedStation()){
    <mat-expansion-panel>
      <mat-expansion-panel-header>Filter</mat-expansion-panel-header>
      <button mat-raised-button style="margin-bottom: 1rem" (click)="getData()">
        refresh
      </button>
      @for (region of regions; track region.id) {
      <mat-expansion-panel [disabled]="region.subRegions.length === 0">
        <mat-expansion-panel-header>
          <mat-checkbox (click)="$event.stopPropagation()" [checked]="isRegionChecked(region.id)"
            (change)="setRegion(region.id, $event, region.subRegions)" [indeterminate]="anyChecked(region.subRegions)">
            <mat-tooltip-component [textContent]="name(region)">
              {{ region.originalName }}
            </mat-tooltip-component>
          </mat-checkbox>
        </mat-expansion-panel-header>
        <div>
          @if(region.subRegions.length > 0){ @for(subRegion of
          region.subRegions; track subRegion.id) {
          <mat-checkbox style="margin-left: 1rem" [checked]="
              isRegionChecked(subRegion.id) || isRegionChecked(region.id)
            " [disabled]="isRegionChecked(region.id)" (change)="setRegion(subRegion.id, $event)">
            <div [matTooltip]="name(subRegion)">
              {{ subRegion.originalName }}
            </div>
          </mat-checkbox>
          } }
        </div>
      </mat-expansion-panel>
      }
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header> Import </mat-expansion-panel-header>
      <div style="display: flex">
        <mat-form-field style="flex: 1">
          <mat-label>Import station</mat-label>
          <input matInput [(ngModel)]="selectedNewStationId" />
        </mat-form-field>
        <button mat-icon-button (click)="updateStation()">
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
      <div style="display: flex">
        <mat-form-field style="flex: 1">
          <mat-label>Import region</mat-label>
          <mat-select [(ngModel)]="selectedRegionId">
            @for (region of allRegions(); track region.id) {
            <mat-option [value]="region.id">{{ name(region) }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="updateRegion()">
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>

    } @else {
    <h3 (click)="selectedStation.set(null)">{{ selectedStation().name }}
      <button style="float:right" mat-icon-button (click)="selectedStation.set(null)">
        <mat-icon>close</mat-icon>
      </button>
    </h3>
    <div>Visits: {{selectedStation().stationVisits}}</div>
    <div>
      Hidden:@if(!selectedStation().hidden){
      <button mat-icon-button color="warn" (click)="updateStation(true,false)">
        <mat-icon>delete</mat-icon>
      </button>
      }@else {
      <button mat-icon-button color="primary" (click)="updateStation(false,false)">
        <mat-icon>recycling</mat-icon>
      </button>
      }
    </div>
    <div>
      Museum/special:
      @if(!selectedStation().special){
      <button mat-icon-button color="warn" (click)="updateStation(false,true)">
        <mat-icon>train</mat-icon>
      </button>
      }@else {
      <button mat-icon-button color="primary" (click)="updateStation(false,false)">
        <mat-icon>museum</mat-icon>
      </button>
      }
    </div>
    }
  </div>
</div>