.container {
    margin: 24px;
}

mat-expansion-panel {
    margin: 8px;
}

.speed-indicator {
    color: #666;
    font-weight: normal;
    margin-left: 8px;
    font-size: 0.9em;
}

.add {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 500;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
