<div class="container">
  <h3>{{'RIDES.FOR'|translate}} {{typeName}} {{routeName}}</h3>
  @if (!loading) {
    <div>
      @for (instance of instances; track instance) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{instance.date|date:'longDate':null:currentLocale}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            @for (property of instance.routeInstanceProperties; track property) {
              <mat-list-item>
                <b>{{property.key}}</b>: {{value(property)}}
              </mat-list-item>
            }
            <button mat-button (click)="edit(instance)">{{"EDIT"|translate}}</button>
            <button mat-button (click)="delete(instance)">{{"DELETE"|translate}}</button>
          </mat-list>
        </mat-expansion-panel>
      }
    </div>
  } @else {
    <mat-spinner></mat-spinner>
  }
</div>

<button class="add" mat-fab (click)="add()">
  <mat-icon>add</mat-icon>
</button>

