<div class="container">
  @if (isLoggedIn) {
  <div>
    <h1>{{ "HOME.WELCOME" | translate }}</h1>
    <p>{{ "HOME.EXPLANATION" | translate }}</p>
    <div class="buttons">
      <button mat-raised-button [routerLink]="['/admin']">
        {{ "HOME.DATA" | translate }}
      </button>
      <button mat-raised-button [routerLink]="['/images']">
        {{ "HOME.IMAGES" | translate }}
      </button>
      <button mat-raised-button [routerLink]="['/stats']">
        {{ "HOME.STATS" | translate }}
      </button>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ "UPDATE.TITLE" | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ "UPDATE.DESCRIPTION" | translate }}</p>
      </mat-card-content>
    </mat-card>

    @if (!!maps() || !!stationMaps()) {
    <div>
      @if (maps().length > 0 || stationMaps().length > 0) {
      <mat-list>
        @for (map of maps(); track map.mapId) {
        <mat-list-item>
          <div style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            ">
            <h4 mat-line>
              <b>{{ getName(map) }}</b>@if(map.completed){
              <mat-icon style="height: 19px;">download_done</mat-icon>
              }
            </h4>
            <div class="desktop buttons">
              <button mat-raised-button color="primary" (click)="view(map)">
                {{ "HOME.VIEW" | translate }}
              </button>
              @if (!!map.sharingLinkName) {
              <button mat-button [cdkCopyToClipboard]="getLink(map)">
                {{ "HOME.COPY" | translate }}
              </button>
              }
            </div>
            <div class="mobile buttons">
              <button mat-icon-button color="primary" (click)="view(map)">
                <mat-icon>visibility</mat-icon>
              </button>
              @if (!!map.sharingLinkName) {
              <button mat-icon-button [cdkCopyToClipboard]="getLink(map)">
                <mat-icon>content_copy</mat-icon>
              </button>
              }
            </div>
          </div>
        </mat-list-item>
        }
        @for (map of stationMaps(); track map.id) {
        <mat-list-item>
          <div style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            ">
            <h4 mat-line>
              <mat-icon>location_on</mat-icon><b>{{ getName(map) }}</b>
            </h4>
            <div class="desktop buttons">
              <button mat-raised-button color="primary" (click)="viewStation(map)">
                {{ "HOME.VIEW" | translate }}
              </button>
              @if (!!map.sharingLinkName) {
              <button mat-button [cdkCopyToClipboard]="getLinkStation(map)">
                {{ "HOME.COPY" | translate }}
              </button>
              }
            </div>
            <div class="mobile buttons">
              <button mat-icon-button color="primary" (click)="viewStation(map)">
                <mat-icon>visibility</mat-icon>
              </button>
              @if (!!map.sharingLinkName) {
              <button mat-icon-button [cdkCopyToClipboard]="getLinkStation(map)">
                <mat-icon>content_copy</mat-icon>
              </button>
              }
            </div>
          </div>
        </mat-list-item>
        }
      </mat-list>
      } @else if(!loading) {
      <h3>{{ "HOME.NOMAPS" | translate }}</h3>
      }
      @if (loading) {
      <mat-spinner></mat-spinner>
      }
    </div>
    }
  </div>
  } @else {
  <h1>{{ "HOME.WELCOME" | translate }}</h1>
  <p>{{ "HOME.INFONOTLOGGEDIN" | translate }}</p>
  <div class="buttons">
    <button mat-raised-button [routerLink]="['/login']">
      <mat-icon>login</mat-icon>
      {{ "HOME.LOGIN" | translate }}
    </button>
    <button mat-raised-button [routerLink]="['/register']">
      <mat-icon>person_add</mat-icon>
      {{ "HOME.REGISTER" | translate }}
    </button>
    <button mat-raised-button [routerLink]="['/help']">
      <mat-icon>help_outline</mat-icon>
      {{'MENU.HELP'|translate}}
    </button>
  </div>
  }
  <br />


</div>