<h3 mat-dialog-title>{{'ADDTYPE.TITLE'|translate}}</h3>
<div mat-dialog-content>
    <mat-form-field style="width: 100%;">
        <mat-label>{{'ADDTYPE.NAME'|translate}}</mat-label>
        <input type="text" [(ngModel)]="routeTypeName" matInput required/>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>{{'ADDTYPE.NAME'|translate}} ({{'LANGUAGES.DUTCH'|translate}})</mat-label>
        <input type="text" [(ngModel)]="routeTypeNameNL" matInput/>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>{{'ADDTYPE.COLOUR'|translate}}</mat-label>
        <input type="color" [(ngModel)]="colour" matInput required/>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>{{'ADDTYPE.COLOUR'|translate}}</mat-label>
        <input [(ngModel)]="colour" matInput required/>
    </mat-form-field>
    {{error}}
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">{{'CANCEL'|translate}}</button>
    <button mat-button (click)="return()">{{'SAVE'|translate}}</button>
</div>