<div class="flex">
  <mat-card>
    <mat-card-title>
      {{ "REQUESTS.NEW_REQUEST" | translate }}
    </mat-card-title>
    <mat-form-field appearance="outline" class="request-field">
      <mat-label>{{ "REQUESTS.NEW_REQUEST_PLACEHOLDER" | translate }}</mat-label>
      <textarea
        matInput
        [(ngModel)]="newRequest"
        rows="6"
      ></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="sendRequest()">
      {{ "REQUESTS.SEND_REQUEST" | translate }}
    </button>
  </mat-card>

  @for (request of requests; track request.id) {
  <mat-card>
    {{ request.message }}
    @if(!!request.response){
    <div style="margin-top: 1rem">
      <div style="font-weight: bold">
        {{ "REQUESTS.RESPONSE" | translate }}:
        {{
          request.responded | date : "mediumDate" : undefined : currentLocale
        }}
      </div>
      <div style="font-style: italic">
        {{ request.response }}
      </div>
    </div>
    }
  </mat-card>
  }
</div>
