<div>
  <b>{{ getName(names) }}</b>
  @if (!!total||visited!=undefined) {
  <span>: {{ visited }} / {{ total }} ({{ percentage }}%)</span>
  }
</div>
<div class="map-container" #mapContainer>
  @if (mapProvider() === 'leaflet') {
    <div
      class="map"
      leaflet
      [leafletOptions]="options"
      [leafletLayers]="layers"
      [leafletLayersControl]="leafletLayersControl"
      [leafletFitBounds]="bounds"
    ></div>
  }
  @if (mapProvider() === 'maplibre') {
    <div class="map" #maplibreContainer></div>
  }
  <div [ngClass]="{ loading: loading, 'loading-indicator': true }">
    <mat-spinner></mat-spinner>
  </div>
</div>
