@if (loading) {
  <mat-spinner></mat-spinner>
}
@if (!loading) {
  <div class="container">
    @if (data.length > 0) {
      <mat-list>
        @for (routeType of data; track routeType) {
          <mat-list-item>
            <div style="display: flex; align-items: center">
              <h4 mat-line>
                <b>{{ name(routeType) }}</b>
              </h4>
              @if (routeType) {
                <mat-chip-listbox style="margin-left:1rem">
                  <mat-chip-option
                    [color]="routeType.colour"
                    [style.background]="routeType.colour"
                    [selectable]="false"
                    >
                    <span class="desktop">{{ routeType.colour }}</span>
                  </mat-chip-option>
                </mat-chip-listbox>
              }
              <div style="flex: 1"></div>
              <button
                class="desktop"
                mat-button
                color="primary"
                (click)="edit(routeType)"
                >
                {{ "EDIT" | translate }}
              </button>
              <button
                class="desktop"
                mat-button
                color="error"
                (click)="delete(routeType)"
                >
                {{ "DELETE" | translate }}
              </button>
              <button
                class="mobile"
                mat-icon-button
                color="primary"
                (click)="edit(routeType)"
                >
                <mat-icon>create</mat-icon>
              </button>
              <button
                class="mobile"
                mat-icon-button
                color="error"
                (click)="delete(routeType)"
                >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        }
      </mat-list>
    } @else {
      {{ "ROUTETYPES.NODATA" | translate }}
    }
    <button class="sort" mat-fab (click)="sort()">
      <mat-icon>sort</mat-icon>
    </button>
    <button class="add" mat-fab (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
}

