.add {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.sort {
    position: fixed;
    bottom: 50px;
    right: 150px;
}

button:not(.mat-fab) {
    margin: 0 8px;
}

.desktop {
    display: none;
}

.mobile {
    display: unset;
}

@media (min-width:600px) {
    .desktop {
        display: unset;
    }
    .mobile {
        display: none;
    }
    button:not(.mat-fab) {
        min-width: 100px;
        margin: 0 12px;
    }
}