<h3 mat-dialog-title>New Region</h3>
<div mat-dialog-content>
  <mat-form-field style="width: 100%">
    <mat-label>OSM Relation Id</mat-label>
    <input type="text" [(ngModel)]="region.osmRelationId" matInput required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Parent</mat-label>
    <mat-select [(ngModel)]="parentRegionId">
      @for (region of regions; track region.id) {
      <mat-option [value]="region.id">{{ region.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if(intermediateRegions().length>0){
  <mat-form-field style="margin-left: 2rem;" >
    <mat-label>Intermediate Region</mat-label>
    <mat-select [(ngModel)]="intermediateRegionId">
      @for (region of intermediateRegions(); track region.id) {
      <mat-option [value]="region.id">{{ region.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  }@else {
  <button mat-button style="margin-left: 2rem;" (click)="showAllRegions()">+ intermediate</button>
  }
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">{{ "CANCEL" | translate }}</button>
  <button mat-button color="primary" (click)="save()">
    {{ "SAVE" | translate }}
  </button>
</div>