<mat-card [ngClass]="{ 'compact': compact }">
  <mat-card-content>
    <div class="compact-toggle-switch">
      <mat-slide-toggle [(ngModel)]="compact" color="primary"
        style="margin-bottom:0;vertical-align:middle;"></mat-slide-toggle>
      <span class="compact-toggle-switch-label">Compact</span>
    </div>
    @if(loading()){
    <mat-spinner />
    }
    @if (!compact) {
    @for (region of sortedRegion(); track region) {
    <div class="operator-region-card">
      <div class="operator-region-title" [title]="region.originalName">
        {{name(region)}}
      </div>
      <div class="operators-list">
        @for (operator of region.operators; track operator) {
        @let logo = getLogo(operator)|async;
        @if(!!logo){
        <span class="operator-logo-wrapper {{operator.hasUserRoute ? 'used' : 'unused'}}">
          <img [src]="logo" class="operator-logo" alt="{{ operator.operatorNames[0] }}"
            title="{{ operator.operatorNames[0] }}" />
        </span>
        }
        }
      </div>
    </div>
    }
    } @else {
    <div class="compact-operators-overview">
      @for (region of sortedRegion(); track region) {
      <div class="compact-operator-region">
        <span class="compact-region-title" [title]="region.originalName">{{name(region)}}</span>
        <span class="compact-operators-list">
          @for (operator of region.operators; track operator) {
          @let logo = getLogo(operator)|async;
          @if(!!logo){
          <span class="compact-operator-logo-wrapper {{operator.hasUserRoute ? 'used' : 'unused'}}">
            <img [src]="logo" class="operator-logo" alt="{{ operator.operatorNames[0] }}"
              title="{{ operator.operatorNames[0] }}" />
          </span>
          }
          }
        </span>
      </div>
      }
    </div>
    }
  </mat-card-content>
</mat-card>