@if (loading) {
  <mat-spinner></mat-spinner>
}
@if (!loading) {
  <div class="container">
    @if (data.length > 0) {
      <mat-list>
        @for (map of data; track map) {
          <mat-list-item>
            <div style="display: flex;align-items: center;">
              <h4 mat-line>
                <b>{{ map.name }}</b>
                <em
                  >@if (map.default) {
                  <small
                    >&nbsp;({{ "ADDMAP.DEFAULT" | translate | lowercase }})</small
                    >
                    }
                    @if (map.completed) {
                  <small
                    >&nbsp;({{ "ADDMAP.COMPLETED" | translate | lowercase }})</small
                    >
                    }</em
                    >
                  </h4>
                  <div style="flex:1"></div>
                  <button
                    class="desktop"
                    mat-icon-button
                    matTooltip="{{ 'HOME.VIEW' | translate }}"
                    color="primary"
                    (click)="view(map)"
                    >
                    <mat-icon>pageview</mat-icon>
                  </button>
                  <button
                    class="desktop"
                    mat-icon-button
                    matTooltip="{{ 'EDIT' | translate }}"
                    (click)="edit(map)"
                    >
                    <mat-icon>create</mat-icon>
                  </button>
                  <button
                    class="desktop"
                    mat-icon-button
                    matTooltip="{{ 'DELETE' | translate }}"
                    color="error"
                    (click)="delete(map)"
                    >
                    <mat-icon>delete</mat-icon>
                  </button>
                  @if (!!map.sharingLinkName) {
                    <button
                      class="desktop"
                      mat-icon-button
                      matTooltip="{{ 'HOME.COPY' | translate }}"
                      [cdkCopyToClipboard]="getLink(map)"
                      >
                      <mat-icon>share</mat-icon>
                    </button>
                  }
                  <button class="mobile" mat-icon-button (click)="openBottomSheet(map)">
                    <mat-icon>reorder</mat-icon>
                  </button>
                  @if (!map.sharingLinkName) {
                    <div class="space desktop"></div>
                  }
                </div>
              </mat-list-item>
            }
          </mat-list>
        } @else {
          {{ "MAPLIST.NODATA" | translate }}
        }
      </div>
    }
    <button class="sort" mat-fab (click)="sort()">
      <mat-icon>sort</mat-icon>
    </button>
    <button class="add" mat-fab (click)="add()">
      <mat-icon>add</mat-icon>
    </button>

