.add {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10000;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

button:not(.mat-fab) {
    margin: 0 12px;
}

.space {
    min-width: 40px;
    margin: 0 12px;
}