<div class="container">
    <mat-card>
        <mat-card-title>{{'SELECTION'|translate}}</mat-card-title>
        <mat-form-field>
            <mat-label>{{'CHOOSEMAP'|translate}}</mat-label>
            <mat-select (selectionChange)="changeMap($event.value)">
                <mat-option *ngFor="let map of maps" [value]="map.mapGuid">
                    {{map.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'CHOOSEYEAR'|translate}}</mat-label>
            <mat-select (selectionChange)="getData($event.value)" [(ngModel)]="selectedYear">
                <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                </mat-option>
                <mat-option [value]="null">
                    {{'ALL'|translate}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>

    <div class="row">
        <table>
            <tr *ngIf="!!tableData">
                <th>{{'NAME'|translate}}</th>
                <th>{{'DISTANCE'|translate}}</th>
            </tr>
            <tr *ngFor="let row of tableData">
                <td>{{name(row)}}</td>
                <td>{{row.distance}} km</td>
            </tr>
        </table>
        <div *ngIf="!!data" class="container graph">
            <canvas baseChart height="300" [datasets]="data.datasets" [options]="lineChartOptions" chartType="line"></canvas>
        </div>
        <!-- <div *ngIf="!!data" class="container graph">
            <button (click)="resetZoom()">Reset zoom</button>
            <canvas #singleChart baseChart height="400" [datasets]="singleData.datasets" [options]="barChartOptions" chartType="bar"></canvas>
        </div> -->
    </div>

    <div class="map-container" #mapContainer>
        <div class="map" leaflet [leafletOptions]="options" [leafletLayers]="layers" [leafletLayersControl]="leafletLayersControl" [leafletFitBounds]="bounds">
        </div>
        <div [ngClass]="{'loading':loadingMap,'loading-indicator':true}">
            <mat-spinner></mat-spinner>
        </div>
    </div>


</div>