<mat-tab-group>
  <mat-tab [label]="'HOME.STATS'|translate">
    <app-time-stats />
  </mat-tab>
  <mat-tab [label]="'STATS.OPERATORS'|translate">
    @defer (on viewport) {
    <app-used-operators />
    }
    @placeholder {
    <p>{{ 'LOADING' | translate }}</p>
    }
  </mat-tab>
  <mat-tab [label]="'STATS.REGIONS'|translate">
    <app-region-stat/>
  </mat-tab>
  @if (showAchievements()) {
  <mat-tab [label]="'STATS.ACHIEVEMENTS.TITLE'|translate">
    @defer (on viewport) {
    <app-achievements />
    }
    @placeholder {
    <p>{{ 'LOADING' | translate }}</p>
    }
  </mat-tab>
  }
  <mat-tab [label]="'STATS.REPLAY.TITLE'|translate">
    @defer (on viewport) {
    <app-map-replay />
    }
    @placeholder {
    <p>{{ 'LOADING' | translate }}</p>
    }
  </mat-tab>
  <mat-tab [label]="'STATIONS.REPLAY.TAB_TITLE'|translate">
    @defer (on viewport) {
    <app-station-replay />
    }
    @placeholder {
    <p>{{ 'LOADING' | translate }}</p>
    }
  </mat-tab>
  <mat-tab [label]="'STATS.COMPLETION.TITLE'|translate">
    @defer (on viewport) {
    <app-station-completion />
    }
    @placeholder {
    <p>{{ 'LOADING' | translate }}</p>
    }
  </mat-tab>
  <mat-tab [label]="'STATS.YEARREVIEW.TITLE'|translate">
    @defer (on viewport) {
    <app-year-in-review />
    }
    @placeholder {
    <p>{{ 'LOADING' | translate }}</p>
    }
  </mat-tab>
  <mat-tab [label]="'STATS.PUNCTUALITY.TITLE'|translate">
    @defer (on viewport) {
    <app-punctuality-stats />
    }
    @placeholder {
    <p>{{ 'LOADING' | translate }}</p>
    }
  </mat-tab>
</mat-tab-group>
