<button mat-icon-button (click)="goback()" *ngIf="data">
  <mat-icon>arrow_back</mat-icon>
</button>

<div class="loading" *ngIf="loading">

    <mat-card appearance="outlined">
        {{'IMPORTER.THISMAYTAKEAWHILE'|translate}}
        <mat-spinner></mat-spinner>
    </mat-card>

</div>

<div class="loading" *ngIf="error">
    <mat-card appearance="outlined">
        {{'ERROR'|translate}}
    </mat-card>

</div>
<div class="content" *ngIf="data">
    <div style="flex: 3">
        <div class="map" leaflet style="height: 350px;" [leafletOptions]="options" [leafletLayers]="layers" [leafletFitBounds]="bounds">
        </div>


        <div>
            <mat-list>
                <mat-list-item> {{'IMPORTER.NAME'|translate}}: {{data.name}} </mat-list-item>
                <mat-list-item> {{'IMPORTER.LINENUMBER'|translate}}: {{data.ref}} </mat-list-item>
                <mat-list-item> {{'IMPORTER.OPERATOR'|translate}}: {{data.operator}} </mat-list-item>
                <mat-list-item *ngIf="!!data.colour"> {{'IMPORTER.COLOUR'|translate}}:&nbsp;
                    <mat-chip-listbox>
                        <mat-chip-option [color]="data.colour" [style.background]="data.colour" [selectable]="false">{{data.colour}}</mat-chip-option>

                    </mat-chip-listbox>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div style="flex: 2">
        <div class="buttons">
            <button mat-raised-button (click)="cut()">{{'IMPORTER.CUT'|translate}}</button>
            <button mat-raised-button (click)="uncut()">{{'IMPORTER.RESTORE'|translate}}</button>

            <button mat-raised-button (click)="save()" color="primary">{{'IMPORTER.SAVE'|translate}}</button>

            <button mat-raised-button color="primary" (click)="export()">{{'IMPORTER.EXPORT'|translate}}</button>

        </div>
        <div class="stops">
            <div *ngFor="let stop of stops" class="row">
                <div class="from"> <button *ngIf="showFrom(stop.id)" (click)="setFrom(stop.id)" mat-button>{{'IMPORTER.FROM'|translate}}</button> </div>
                <div class="info" [ngClass]="{'active':included(stop.id)}">{{stop.name}} {{stop.ref}}</div>
                <div class="to"> <button *ngIf="showTo(stop.id)" (click)="setTo(stop.id)" mat-button>{{'IMPORTER.TO'|translate}}</button> </div>
            </div>
        </div>
    </div>
</div>
